:root {
  --black: #2f2f2f;
  --white: #f6f6f6;
  --blue-accent: #486aaa;
  --pink-accent: #993366;
  --link-color: #244d99;
  --link-hover: #fec72c;
  --quote: #f47236;
  --facebook-color: #1877f2;
}

/* СКИДАННЯ СТИЛІВ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  font-style: normal;
  color: var(--black);
  padding: 0;
  margin: 0;
  background-color: #f0e1d1;
}

p {
  padding: 0px;
  margin: 8px 0px;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  color: var(--black);
}

img {
  display: inline-block;
  border: none;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  img {
    max-width: 300px !important;
    height: auto !important;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  img {
    max-width: 500px !important;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  img {
    max-width: 670px !important;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  img {
    max-width: 820px !important;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--link-hover);
  transition: color, background, 150ms linear;
}

ol>li {
  list-style-type: decimal;
}

ul>li {
  list-style-type: none;
}

table {
  width: 100%;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  iframe {
    max-width: 300px !important;
    /* height: auto !important; */
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  iframe {
    max-width: 500px !important;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  iframe {
    max-width: 670px !important;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  iframe {
    max-width: 820px !important;
  }
}

/* ОБГОРТКА САЙТУ */
#wrap {
  margin: 0 auto;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  #wrap {
    max-width: 480px;
    box-shadow: none;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  #wrap {
    max-width: 768px;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.4);
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  #wrap {
    max-width: 1024px;
    box-shadow: 1px 5px 11px 4px rgba(0, 0, 0, 0.4);
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  #wrap {
    max-width: 1280px;
  }
}

/* КІНЕЦЬ СКИДАННЯ СТИЛІВ */

.footer {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  background-color: var(--blue-accent);
  color: var(--white);
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .footer {
    padding: 8px;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .footer {
    padding: 20px 16px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .footer {
    padding: 24px;
  }
}



/* обгортка даних у футері */
/* .footer__info--wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
} */

/* phone 320 */
/* @media screen and (min-width: 320px) {
  .footer__info--wrap {
    flex-direction: column;
  }
} */

/* tablet 768 */
/* @media screen and (min-width: 768px) {
  .footer__info--wrap {
    flex-direction: row;
  }
} */

/* desktop 1024 */
/* @media screen and (min-width: 1024px) {
  .footer__info--wrap {
    justify-content: space-around;
  }
} */

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .footer__info--wrap {}
}

/* блоки з контактами */
.footer__info {}

/* phone 320 */
@media screen and (min-width: 320px) {
  .footer__info {}
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .footer__info {}
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .footer__info {}
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .footer__info {}
}

.footer__text {}

/* phone 320 */
@media screen and (min-width: 320px) {
  .footer__text {}
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .footer__text {}
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .footer__text {}
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .footer__text {}
}

.footer__address {}

/* phone 320 */
@media screen and (min-width: 320px) {
  .footer__address {}
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .footer__address {}
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .footer__address {}
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .footer__address {}
}

/* -------------------------- */

.footer__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__info--about {
  display: flex;
  align-items: center;
}

.footer__logo {}

.footer__address {}

.footer__contacts {}

.footer__copy {}

.footer__to-admin {}