:root {
  --black: #2f2f2f;
  --white: #f6f6f6;
  --blue-accent: #486aaa;
  --pink-accent: #993366;
  --link-color: #244d99;
  --link-hover: #fec72c;
  --quote: #f47236;
  --facebook-color: #0866ff;

  font-family: "Verdana", sans-serif;
  font-style: normal;

  --thin-font: 400;
  --bold-font: 600;

  --transition: 200ms linear;

  --gradient-to-left: linear-gradient(to left,
      rgb(254, 199, 44) 0%,
      transparent 50%,
      rgb(36, 77, 153) 100%) 0 0 100% 0/0 0 3px 0 stretch;
  --gradient-to-right: linear-gradient(to right,
      rgb(254, 199, 44) 0%,
      transparent 50%,
      rgb(36, 77, 153) 100%) 0 0 100% 0/0 0 3px 0 stretch;
}

/* СКИДАННЯ СТИЛІВ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-weight: var(--thin-font);
  font-size: 15px;
  line-height: 1.4;
  color: var(--black);
  padding: 0;
  margin: 0;
  background-color: #f0e1d1;
}

p {
  padding: 0px;
  margin: 0;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  color: var(--black);
}

img {
  display: inline-block;
  border: none;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  img {
    max-width: 300px !important;
    height: auto !important;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  img {
    max-width: 500px !important;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  img {
    max-width: 670px !important;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  img {
    max-width: 820px !important;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color var(--transition);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--link-hover);
}

ul>li {
  list-style-type: none;
}

.gsc-search-box th,
.gsc-search-box td {
  border: none;
}

table {
  width: 100%;
  color: inherit;
  font-size: small;
}

table th,
table td {
  border: 1px var(--black) solid;
  padding: 4px;
}

table th:not(:first-child) {
  border-left: none;
}

table td:first-child {
  border-top: none;
}

table td:not(:first-child) {
  border-top: none;
  border-left: none;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  iframe {
    display: block;
    margin: 0 auto;
    max-width: 300px !important;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  iframe {
    max-width: 300px !important;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  iframe {
    max-width: 670px !important;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  iframe {
    max-width: 820px !important;
  }
}

/* ОБГОРТКА САЙТУ */
#wrap {
  margin: 0 auto;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  #wrap {
    max-width: 480px;
    box-shadow: none;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  #wrap {
    max-width: 768px;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, .4);
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  #wrap {
    max-width: 1024px;
    box-shadow: 1px 5px 11px 4px rgba(0, 0, 0, .4);
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  #wrap {
    max-width: 1280px;
  }
}

/* КІНЕЦЬ СКИДАННЯ СТИЛІВ */

/* NEW STYLES */