:root {
  --black: #2f2f2f;
  --white: #f6f6f6;
  --blue-accent: #486aaa;
  --pink-accent: #993366;
  --link-color: #244d99;
  --link-hover: #fec72c;
  --quote: #f47236;
  --facebook-color: #1877f2;
}

/* СКИДАННЯ СТИЛІВ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  font-style: normal;
  color: var(--black);
  padding: 0;
  margin: 0;
  background-color: #f0e1d1;
}

p {
  padding: 0px;
  margin: 8px 0px;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--black);
}

img {
  display: inline-block;
  border: none;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  img {
    max-width: 300px !important;
    height: auto !important;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  img {
    max-width: 500px !important;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  img {
    max-width: 670px !important;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  img {
    max-width: 820px !important;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--link-hover);
  transition: color, background, 150ms linear;
}

ol>li {
  list-style-type: decimal;
}

ul>li {
  list-style-type: none;
}

table {
  width: 100%;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  iframe {
    max-width: 300px !important;
    /* height: auto !important; */
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  iframe {
    max-width: 500px !important;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  iframe {
    max-width: 670px !important;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  iframe {
    max-width: 820px !important;
  }
}

/* ОБГОРТКА САЙТУ */
#wrap {
  margin: 0 auto;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  #wrap {
    max-width: 480px;
    box-shadow: none;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  #wrap {
    max-width: 768px;
    box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.4);
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  #wrap {
    max-width: 1024px;
    box-shadow: 1px 5px 11px 4px rgba(0, 0, 0, 0.4);
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  #wrap {
    max-width: 1280px;
  }
}

/* СТИЛІ ХЕДЕРА */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .header {
    padding: 12px;
    flex-direction: column;
    background-color: var(--white);
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .header {
    padding: 16px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    padding: 20px;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .header {
    padding: 24px;
    background-position: 16px 2px;
  }
}

/* СТИЛІ ЛІВОЇ ЧАСТИНИ ХЕДЕРА */
/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .header__img--wrap {
    background-image: url("../../../../../../media/liceum-emblem.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .site-title__wrap {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .site-title__wrap {
    width: 750px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .site-title__wrap {
    width: 300px;
    margin-left: 136px;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .site-title__wrap {
    width: 440px;
  }
}

/* НАЗВА ЗАКЛАДУ */
/* phone 320 */
@media screen and (min-width: 320px) {
  .site-title {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .site-title {
    text-align: left;
  }
}

.site--pretitle {
  font-family: "Lucida Bright", "Times New Roman", serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  color: var(--link-color);
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .site--pretitle {
    font-size: 27px;
    text-shadow: 1px 1px 2px var(--blue-accent);
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .site--pretitle {
    font-size: 37px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .site--pretitle {
    padding: 0 0 0 15px;
    font-size: 47px;
    text-shadow: 2px 2px 2px var(--blue-accent);
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .site--pretitle {
    font-size: 57px;
  }
}

.site--aftertitle {
  font-family: "Verdana", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  color: var(--blue-accent);
  text-shadow: none;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .site--aftertitle {
    font-size: 15px;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .site--aftertitle {
    font-size: 17px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .site--aftertitle {
    padding: 0 0 0 15px;
    font-size: 15px;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .site--aftertitle {
    font-size: 19px;
  }
}

/* ДЕВІЗ ЗАКЛАДУ */
.site--quote {
  margin: 0;
  font-weight: 600;
  color: var(--quote);
  text-align: left;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .site--quote {
    display: none;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .site--quote {
    display: block;
    text-align: center;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .site--quote {
    padding-left: 15px;
    text-align: left;
  }
}

/* СТИЛІ ПРАВОЇ ЧАСТИНИ ХЕДЕРА */
/* phone 320 */
@media screen and (min-width: 320px) {
  .contacts-n-date__wrap {
    display: none;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .contacts-n-date__wrap {
    display: flex;
    justify-content: center;
    width: 700px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .contacts-n-date__wrap {
    width: 500px;
    flex-direction: column;
    align-items: flex-end;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .contacts-n-date__wrap {
    width: 540px;
  }
}

/* КОНТАКТИ ТА АДРЕСА */
.contacts__wrap {
  column-gap: 30px;
  justify-content: space-between;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .contacts__wrap {
    display: none;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .contacts__wrap {
    display: flex;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .contacts__wrap {
    flex-direction: column;
    width: 280px;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .contacts__wrap {
    flex-direction: row;
    width: 540px;
    margin-bottom: 15px;
  }
}

.address,
.contacts {
  margin: 0;
  font-family: "Verdana", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 0.4;
  font-style: inherit;
}

/* phone 320 */
@media screen and (min-width: 320px) {

  .address,
  .contacts {
    display: none;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {

  .address,
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.address p,
.contacts p {
  margin: 0;
  padding: 9px;
}

/* .contacts__tel {}
.contacts__mail {} */

.contacts__mail-link,
.contacts__tel-link {
  color: var(--link-color);
}

/* .contacts__facebook {} */

.contacts__facebook-link {
  display: inline-flex;
  align-items: center;
  color: var(--facebook-color);
}

/* СКРИПТ ДАТИ ТА ЧАСУ */
.date-and-time {
  font-size: 14px;
  color: var(--black);
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .date-and-time {
    display: none;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .date-and-time {
    display: block;
  }
}

/* СТИЛІ МЕНЮ ВГОРІ*/
.top-nav {
  position: sticky;
  top: -1px;
  padding: 0 4px;
  background: var(--blue-accent);
  background-size: 100%;
  border: none;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .top-nav {
    line-height: 1;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .top-nav {
    line-height: 1.2;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .top-nav {
    line-height: 1.4;
  }
}

.top-nav__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

.top-nav__item {
  position: relative;
}

.top-nav__link {
  display: block;
  position: relative;
  padding: 8px 0;
  text-decoration: none;

  color: var(--white);
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .top-nav__link {
    font-size: 17px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .top-nav__link {
    font-size: 16px;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .top-nav__link {
    font-size: 18px;
  }
}

.top-nav__link:hover,
.top-nav__link:focus {
  color: var(--white);
}

.top-nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: var(--link-hover);
  border-radius: 4px;
  transition: opacity 150ms linear;
}

.top-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: var(--link-hover);
  border-radius: 4px;
  transition: opacity 150ms linear;
}

.top-nav__link:hover::before,
.top-nav__link:hover::after {
  opacity: 1;
}

/* трикутник біля айтемів у верхньому меню */
/* phone 320 */
@media screen and (min-width: 320px) {
  .top-nav--triangle {
    display: none;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .top-nav--triangle {
    display: inline-block;
  }
}

/* СТИЛІ ПРИХОВАНОГО ВЕРХНЬОГО СПИСКУ */
.top-nav__sublist {
  top: 100%;
  background-color: var(--white);
  color: var(--black);
  font-weight: bold;
}

.top-nav__item .top-nav__sublist {
  position: absolute;
  display: none;
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .top-nav__item:hover>.top-nav__sublist {
    display: block;
    z-index: 2;
    border: var(--blue-accent) 2px dotted;
  }
}

/* ТУТ СТИЛІ САБЛІСТА МІНЯЮТЬСЯ */

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .top-nav__item:hover>.top-nav__sublist {
    width: 280px;
    padding: 5px;
    transform: translateX(0);
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  .top-nav__item:hover>.top-nav__sublist {
    width: 360px;
  }
}

.top-nav__subitem {
  border-bottom: var(--blue-accent) 1px dotted;
  min-height: 24px;
}

  display: block;
  .top-nav__sublink {
}

/* СТИЛІ КОНТЕНТУ */
#content {
  display: flex;
  background: var(--white);
}

/* phone 320 */
@media screen and (min-width: 320px) {
  #content {
    flex-direction: column;
    padding: 12px;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  #content {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  #content {
    padding: 20px;
  }
}

/* desktop L 1440 */
@media screen and (min-width: 1440px) {
  #content {
    padding: 24px;
  }
}

/* СТИЛІ БЛОКУ НАВІГАЦІЇ */
.sidebar {
  flex-shrink: 0;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .sidebar {
    width: 100%;
    margin-bottom: 16px;
    padding: 4px;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .sidebar {
    width: 220px;
    margin-bottom: 0;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .sidebar {
    width: 280px;
    padding: 8px;
  }
}

/* .navigation {} */

.navigation__title {
  padding: 4px 8px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  background-color: var(--blue-accent);
  color: var(--white);
  border: none;
  border-radius: 4px;
}

/* .navigation__list {} */

.navigation__item {
  padding: 4px;
}

.navigation__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: var(--link-color);
  border-bottom: 1px dotted var(--blue-accent);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--link-hover);
}

/* СТИЛІ ОБЛАСТІ ПОШУКУ*/
.gsc-input-box {
  border-radius: 4px;
}

.gsc-search-button {
  cursor: pointer;
}

/* СТИЛІ КОНТЕНТУ ПО ЦЕНТРУ СТОРІНКИ */
.main-content {
  padding: 4px;
  text-align: justify;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .main-content {
    width: auto;
    font-size: 10px;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .main-content {
    width: 100%;
    font-size: 12px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .main-content {
    padding: 8px;
  }
}

.main-content__title {
  margin-bottom: 8px;
  border-bottom: 1px dotted var(--blue-accent);
  letter-spacing: 1px;
}

/* .main-content__form {} deleted */

/* СТИЛІ ФУТЕРА */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-accent);
  color: var(--white);
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .footer {
    padding: 8px;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .footer {
    padding: 20px 16px;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .footer {
    padding: 24px;
  }
}

.footer__info--wrap {
  display: flex;
  width: 100%;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .footer__info--wrap {
    flex-direction: column;
    text-align: center;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .footer__info--wrap {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

/* desktop 1024 */
@media screen and (min-width: 1024px) {
  .footer__info--wrap {
    justify-content: space-evenly;
  }
}

.footer__info--wrap:not(:last-child) {
  margin-bottom: 12px;
}

/* АДРЕСА, КОНТАКТИ В ФУТЕРІ */
/* phone 320 */
/* @media screen and (min-width: 320px) {
  .footer__info {
    width: auto;
  }
} */

/* tablet 768 */
/* @media screen and (min-width: 768px) {
  .footer__info {
    width: 240px;
  }
} */

/* desktop 1024 */
/* @media screen and (min-width: 1024px) {
  .footer__info {
    width: 310px;
  }
} */

/* desktop L 1440 */
/* @media screen and (min-width: 1440px) {
  .footer__info {
    width: 340px;
  }
} */

/* .footer__info:not(:last-child) {
  margin-right: 5px;
} */

/* phone 320 */
@media screen and (min-width: 320px) {
  .footer__info:not(:last-child) {
    margin-bottom: 7px;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .footer__info:not(:last-child) {
    margin-bottom: 0;
  }
}

.footer__text {
  color: var(--white);
  margin: 0;
}

/* phone 320 */
@media screen and (min-width: 320px) {
  .footer__text {
    font-size: 13px;
  }
}

/* tablet 768 */
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 14px;
  }
}

#footer a {
  color: var(--white);
}

#footer a:hover,
#footer a:focus {
  color: var(--link-hover);
}

.footer__address {
  font-style: normal;
}

/* ОСТАННІ НОВИНИ НА ГОЛОВНІЙ */
/* .last-news-date {
  float: right;
  font-style: italic;
  color: #959595;
  font-size: 80%;
}

.last-news-title {
  font-weight: bold;
  clear: both;
  text-decoration: underline;
}

.last-news-mess {
  margin-bottom: 10px;
} */

/* СТИЛІ ГОСТЬОВОЇ КНИГИ ТА ЗВОРОТНОГО ЗВ'ЯЗКУ */
/* .error {
  border: 1px solid #f1008b;
  background-color: #ffdff1;
  color: #ff3366;
  padding: 3px 10px;
} */

/* .info {
  border: 1px solid #66cc00;
  background-color: #f0ffc4;
  color: #66cc00;
  padding: 3px 10px;
} */

/* ФОРМА ЗВОРОТНОГО ЗВ'ЯЗКУ */
/* .feedback {
  border: 0;
  width: 100%;
}

.feedback td {
  width: 32%;
} */

/* .feedback input,
.feedback textarea {
  width: 100%;
  border: 1px solid var(--blue-accent);
  color: var(--black);
}

.feedback input:hover,
.feedback textarea:hover {
  border-color: var(--blue-accent);
  color: var(--black);
} */

/* ОФОРМЛЕННЯ ГОСТЬОВОЇ */
/* #captcha {
  background-color: #ffffff;
  border: 1px solid #244d99;
  display: inline;
  cursor: pointer;
}

#guestbook #captcha {
  margin: 0 0 -5px 0 !important;
} */

/* .error {
  border: 1px solid #f1008b;
  background-color: #ffdff1;
  color: #ff3366;
  padding: 3px 10px;
}

.info {
  border: 1px solid #66cc00;
  background-color: #f0ffc4;
  color: #66cc00;
  padding: 3px 10px;
}

.guestbook {
  border-collapse: collapse;
  width: 100%;
}

.guestbook TD {
  padding: 3px;
}

.guestbook input,
.guestbook textarea {
  width: 100%;
  border: 1px solid #969696;
  color: #3e3e3e;
}

.guestbook input:hover,
.guestbook textarea:hover {
  border-color: #000;
  color: #000;
}

.gb_post {
  background-color: #eaeaea;
  border: 1px solid #d3d3d3;
  padding: 3px;
  margin: 5px 0;
  position: relative;
}

.gb_subj {
  font-weight: bold;
  border-bottom: 1px dotted var(--blue-accent);
}

.gb_date {
  font-style: italic;
  color: #7f7f7f;
  padding-left: 5px;
  font-weight: normal;
  float: right;
  font-size: 80%;
}

.gb_author {
  color: #ff3366;
  padding-left: 20px;
  line-height: 20px;
  background-image: url(images/mail.png);
  background-repeat: no-repeat;
}

.gb_message {
  clear: both;
}

.gb_comment_link {
  background-image: url(images/comments.png);
  background-repeat: no-repeat;
  color: #ff33cc;
  padding-left: 20px;
  line-height: 20px;
  margin-left: 10px;
}

.gb_comment {
  background-color: transparent;
  border: 1px dashed #d3d3d3;
  padding: 3px;
  margin: 5px 0 5px 20px;
  position: relative;
}

.gb_nav a {
  border: 1px solid #d3d3d3;
  background-color: #e8e8e8;
  text-decoration: none;
  padding: 1px;
  margin: 1px;
  color: #000000;
}

.gb_nav a:hover {
  color: #f1008b;
  border-color: #f1008b;
}

.gb_nav a.current {
  font-weight: bold;
  color: #f1008b;
  border-color: #f1008b;
} */