:root {
    --dark-color: #2f2f2f;
    --light-color: #f6f6f6;
    --blue-accent: #244d99;
    --yellow-accent: #ffe365;
    --link-color: #fec72c;

}

/* СКИДАННЯ СТИЛІВ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Verdana", "Tahoma", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    font-style: normal;
    color: var(--dark-color);

    padding: 0;
    margin: 0;
    background-color: #f0e1d1;
}

p {
    padding: 0px;
    margin: 8px 0px;

    color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

    color: var(--dark-color);
}

img {
    display: inline-block;
    border: none;
}

a {
    text-decoration: none;
    color: var(--blue-accent);
}

a:hover,
a:focus {
    text-decoration: none;
    color: var(--link-color);
    transition: color, background, 150ms linear;
}

li {
    list-style: none;
}

/* ОБГОРТКА САЙТУ */
#wrap {
    width: 1400px;
    margin: 0 auto;
    box-shadow: 1px 5px 11px 4px rgba(0, 0, 0, 0.4);
}

/* СТИЛІ ХЕДЕРА */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    padding: 15px 30px;
    background: url("../../../../../../media/liceum-emblem.jpg") no-repeat, var(--light-color);
    background-size: contain;
    background-position: 30px 2px;
}

.site-title__wrap {
    width: 540px;
    margin-left: 160px;
}

.site__title {
    display: flex;
    flex-direction: column;
    width: 290px;
}

.site--pretitle {
    font-family: "Lucida Bright", "Times New Roman", serif;
    font-weight: 600;
    font-size: 57px;
    text-transform: uppercase;
    line-height: normal;
    padding: 0 0 0 15px;
    margin-bottom: 3px;
    text-shadow: 2px 2px 2px #486aaa;
    color: var(--blue-accent);
}

.site--aftertitle {
    font-family: "Verdana", "Tahoma", "Arial", sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: none;
    display: inline-flex;
    padding: 0 0 0 15px;
    color: #486aaa;
    text-shadow: none;
}

.site--quote {
    margin: 0;
    padding-left: 12px;
    font-weight: 600;
    color: #f47236;
}

/* СТИЛІ АДРЕСИ ТА КОНТАКТІВ */
.contacts__wrap {
    display: flex;
    column-gap: 30px;
    justify-content: flex-end;
}

.address,
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: max-content;
    margin: 0;

    font-family: "Verdana", "Tahoma", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: .4;
    font-style: inherit;
    color: #486aaa;
    text-decoration: underline var(--blue-accent) 1px dotted;
}

.address p,
.contacts p {
    margin: 0;
    padding: 9px;
}

.contacts__tel {}

.contacts__mail {}

.contacts__mail-link {
    color: #486aaa;
}

.contacts__facebook {}

.contacts__facebook-link {
    display: inline-flex;
    align-items: center;
    color: #1877f2;
}

.contacts__facebook-ico {
    display: none;
    padding-left: 3px;
}

/* СТИЛІ МЕНЮ ВГОРІ*/
.top-menu {
    position: sticky;
    top: 0;

    background: #486aaa;
    background-size: 100%;
    background-position: bottom center;
    height: auto;
    line-height: 1.6;
    border-top: var(--blue-accent) 1px dotted;
    border-bottom: var(--blue-accent) 1px dotted;
}

.top-menu__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.top-menu__item {
    float: left;
    list-style-type: none;
}

.top-menu__link {
    display: inline-block;
    position: relative;
    padding: 7px 0;
    text-decoration: none;
    font-size: 17px;
    color: var(--light-color);
}

.top-menu__link:hover,
.top-menu__link:focus {
    color: var(--light-color);
    background: #486aaa;
    border-radius: 3px;
}

.top-menu__link::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    opacity: 0;
    width: 100%;
    height: 5px;
    background-color: var(--link-color);
    border-radius: 1px;
    transition: opacity 150ms linear;
}

.top-menu__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    opacity: 0;
    width: 100%;
    height: 5px;
    background-color: var(--link-color);
    border-radius: 1px;
    transition: opacity 150ms linear;
}

.top-menu__link:hover::before,
.top-menu__link:hover::after {
    opacity: 1;
}

/* СТИЛІ ДЛЯ СКРИПТА ДАТИ ТА ЧАСУ */
.date-and-time {
    font-size: 14px;
    color: var(--dark-color);
}

/* СТИЛІ КОНТЕНТУ */
#content {
    padding: 20px 30px;
    background: var(--light-color);
}

/* СТИЛІ БЛОКУ НАВІГАЦІЇ*/
.navigation {
    padding: 15px 0;
    margin-right: 15px;
    width: 270px;
    float: left;
}

.navigation__title {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    padding: 3px 10px;

    background-color: #486aaa;
    color: var(--light-color);
    border: none;
    border-radius: 4px;
}

.navigation__list {
    padding: 10px 0;
}

.navigation__item {
    padding: 4px 0;
}

.navigation__link {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: var(--blue-accent);
    border-bottom: 1px dotted var(--blue-accent);
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--link-color);
}

.navigation__list--is-hidden {
    display: none;
    z-index: -5;
}

.navigation__list--is-hidden:hover,
.navigation__list--is-hidden:focus {
    display: block;
    z-index: 5;
}

/* СТИЛІ БЛОКУ ПІД БЛОКОМ НАВІГАЦІЇ (ДІЯ)*/
.left--wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    float: left;
}

.left--under-nav {
    padding: 15px 0;
    margin-right: 15px;
    width: 270px;
}



/* СТИЛІ ОБЛАСТІ ПОШУКУ*/
.gsc-input-box {
    border-radius: 3px;
}

.gsc-search-button {
    cursor: pointer;
}

/* СТИЛІ КОНТЕНТУ ПО ЦЕНТРУ СТОРІНКИ */
.main-content {
    padding: 18px 0 18px 18px;
    width: 1040px;
    float: right;
    font-size: 12px;
    text-align: justify;
}

.main-content__title {
    margin-bottom: 17px;
    border-bottom: 1px dotted var(--blue-accent);
    letter-spacing: 1px;
}

.main-content__form {}

.footer {
    font-family: Lucida Bright;
    padding: 15px 0;
    background-color: #486aaa;
    color: var(--light-color);
    font-size: 12px;
    text-align: center;
}

#footer a {
    color: #111;
    text-decoration: none;
}

#footer a:hover,
#footer a:focus {
    color: #111;
    text-decoration: underline;
}


/***** последние новости на главной *****/
.last-news-date {
    float: right;
    font-style: italic;
    color: #959595;
    font-size: 80%;
}

.last-news-title {
    font-weight: bold;
    clear: both;
    text-decoration: underline;
}

.last-news-mess {
    margin-bottom: 10px;
}

/***** guestbook & feedback *****/
.error {
    border: 1px solid #F1008B;
    background-color: #FFDFF1;
    color: #FF3366;
    padding: 3px 10px;
}

.info {
    border: 1px solid #66CC00;
    background-color: #F0FFC4;
    color: #66CC00;
    padding: 3px 10px;
}

/****** форма ЗВОРОТНОГО ЗВ'ЯЗКУ ******/
.feedback {
    border: 0;
    width: 100%;
}

.feedback td {
    width: 32%;
}

.feedback input,
.feedback textarea {
    width: 100%;
    border: 1px solid var(--blue-accent);
    color: var(--dark-color);
}

.feedback input:hover,
.feedback textarea:hover {
    border-color: var(--blue-accent);
    color: var(--dark-color);
}

/****** оформление гостевой ******/
#captcha {
    background-color: #FFFFFF;
    border: 1px solid #244d99;
    display: inline;
    cursor: pointer;
}

#guestbook #captcha {
    margin: 0 0 -5px 0 !important;
}

.error {
    border: 1px solid #F1008B;
    background-color: #FFDFF1;
    color: #FF3366;
    padding: 3px 10px;
}

.info {
    border: 1px solid #66CC00;
    background-color: #F0FFC4;
    color: #66CC00;
    padding: 3px 10px;
}

.guestbook {
    border-collapse: collapse;
    width: 100%;
}

.guestbook TD {
    padding: 3px;
}

.guestbook input,
.guestbook textarea {
    width: 100%;
    border: 1px solid #969696;
    color: #3E3E3E;
}

.guestbook input:hover,
.guestbook textarea:hover {
    border-color: #000;
    color: #000;
}

.gb_post {
    background-color: #EAEAEA;
    border: 1px solid #D3D3D3;
    padding: 3px;
    margin: 5px 0;
    position: relative;
}

.gb_subj {
    font-weight: bold;
    border-bottom: 1px dashed #D3D3D3;
}

.gb_date {
    font-style: italic;
    color: #7F7F7F;
    padding-left: 5px;
    font-weight: normal;
    float: right;
    font-size: 80%;
}

.gb_author {
    color: #FF3366;
    padding-left: 20px;
    line-height: 20px;
    background-image: url(images/mail.png);
    background-repeat: no-repeat;
}

.gb_message {
    clear: both;
}

.gb_comment_link {
    background-image: url(images/comments.png);
    background-repeat: no-repeat;
    color: #ff33cc;
    padding-left: 20px;
    line-height: 20px;
    margin-left: 10px;
}

.gb_comment {
    background-color: transparent;
    border: 1px dashed #D3D3D3;
    padding: 3px;
    margin: 5px 0 5px 20px;
    position: relative;
}

.gb_nav a {
    border: 1px solid #D3D3D3;
    background-color: #E8E8E8;
    text-decoration: none;
    padding: 1px;
    margin: 1px;
    color: #000000;
}

.gb_nav a:hover {
    color: #F1008B;
    border-color: #F1008B;
}

.gb_nav a.current {
    font-weight: bold;
    color: #F1008B;
    border-color: #F1008B;
}

/* SLIDER FOR PSYCOLOGIST PAGE */
.slider {
    z-index: 9;
    width: 700px;
    height: 290px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
}

.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider ul {
    width: 9999px;
}

.slider ul li {
    list-style-type: none;
    float: left;
    width: 700px;
    height: 290px;
}

.slider .nav {
    position: absolute;
    left: 15px;
    bottom: 12px;
}

.slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
}

.slider .nav span.on {
    background: #2e9419;
}